.todo-form {
  display: flex;

  * {
    padding: 10px 14px;
  }

  input {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: 1px solid #2196f3;
    border-right: 0px;
    color: #0d47a1;
    flex: 4;
    font-size: 16px !important;

    @media screen and (min-width: 768px) {
      font-size: 22px !important;
    }
  }

  input:focus, button:focus {
    outline: none;
  }

  *:focus {
    outline: none;
  }

  button {
    flex: 1;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    color: #fff;
    background: #307BFF;
    border-color: #307BFF;
    cursor: pointer;
    font-size: 16px;

    @media screen and (min-width: 768px) {
      font-size: 22px;
    }
  }
}