html, body {
  margin: 20px;
  padding: 0;
  background: #FFFFFF;
  color: #111111;
  font-size: 16px;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (min-width: 768px) {
    font-size: 22px;
  }
}

h1 {
  text-align: center;
  font-size: 26px;
  line-height: 1.0625;
  font-weight: 600;
  letter-spacing: -.009em;
  text-transform: capitalize;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;

  @media screen and (min-width: 768px) {
    font-size: 44px;
  }
}